*.hex
*.bmp
*.BMP

images_mc24
images_mia24
images_nyc24
images_sanb24
images_uk24
images_mc8
images_mia8
images_nyc8
images_sanb8
images_uk8

extracted_sounds

english_decoded.fxt
french_decoded.fxt
special_decoded.fxt
